<form [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título" formControlName="tittle">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea rows="3" matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>

    <button (click)="saveChange()" mat-raised-button color="primary">Guardar</button>
    <button (click)="onNoClick()"  type="button" mat-raised-button color="warn">Cancelar</button>
</form>